*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #f1f5f8;
    color: #222;
}
.booklist {
    width: 90vw;
    max-width: 1170px;
    margin: 5rem auto;
    display: grid;
    gap: 2rem;
}
@media screen and (min-width: 768px){
    .booklist{
        grid-template-columns: repeat(3, 1fr);
        /* if you want all your items to start at one point and end where the content ends. */
        align-items: start; 

    }
}
.book{
    background: #fff;
    border-radius:1rem;
    padding: 2rem;
    text-align: center;
    position: relative;
}
.book img{
    width: 100%;
    object-fit: cover;
    
}
.book h2{
    margin-top: 1rem;
    font-size: 1rem;
}
.book h4{
    
    color: #617d98;
    font-Size: 0.75rem;
    margin-Top: 0.5rem;
    letter-spacing: 2px;
   
}
.book p{
    margin: 1rem 0 0.5rem;
}
.number {
    position:absolute;
    top: 0;
    left: 0;
    padding: 0.75rem;
    font-size: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background:#c35600;
    color: #fff
}
h1{
    text-align: center;
    margin-top: 4rem;
    text-transform: capitalize;
}
/* modal.css */
.modal {
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: auto;
}

.modal-content {
    background-color: #fefefe;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 800px;
    display: flex; /* Use flexbox for layout */
    justify-content: space-between; /* Add space between elements */
}

.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    align-self: flex-start; /* Align close button to the top */
    cursor: pointer; /* Set cursor to pointer */
}

.close:hover {
    color: black;
    text-decoration: none;
}

/* Additional styles for book details in modal */
.book-details {
    flex: 1;
    padding-left: 20px;
}

.book-details img {
    max-width: 100%;
    margin-right: 20px; /* Move the image to the left */
    border-radius: 5px;
}

.book-details h2 {
    font-size: 1.5rem;
}

.book-details h4 {
    color: #617d98;
    margin-bottom: 10px;
}

.book-details .summary {
    margin-top: 10px;
    font-style: italic;
}

.book-details .price {
    font-weight: bold;
    margin-top: 10px;
}
